doctype html

body
  
  head(lang="en")
    title Actual Weather
    
  body
    h1 Actually Weather
    
    input(type="text" id="zip" name="zip" placeholder="Type Zip Code Here")
    button(id="go" name="go") Get my weather!
    
    #target
    
    script(type="text/javascript" src="../bower_components/lodash/lodash.min.js")
    script(type="text/javascript" src="js/main.js")
