doctype html

body
  
  head(lang="en")
    title Actual Weather
    
  body
    h1 Actually Weather
    
    input(type="text" id="zipInput" name="zipInput" placeholder="Type Zip Code Here")
    button(id="submitZip" name="submitZip") Get my weather!
    
    #target
    
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(type="text/javascript" src="js/main.js")
