doctype html

html
  
  head(lang="en")
    link(rel="stylesheet" href="vendor/foundation/css/normalize.css")
    link(rel="stylesheet" href="vendor/foundation/css/foundation.css")
    link(rel="stylesheet" href="css/main.css")
    title Actual Weather
    
  body
    .row
      .small-6.small-centered.columns
        h1 Actually Weather
    
    .row
      input(type="text" id="zipInput" name="zipInput" placeholder="Type Zip Code Here")
      button(id="submitZip" name="submitZip").expand.round Get my weather!
    
    #target
    
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")
    script(type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(type="text/javascript" src="js/main.js")
